@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #c5b0ad;
  --secondary-color: #acb1d9;
}

/*
#b7e4ea
#acb1d9
#c5b0ad
#f8f4e8
#f7ced6
*/

/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} 
*/

/*TODO: Implement dark theme styles*/
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  min-height: 90vh;
  padding: 1rem;
}

header {
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  color: white;
  margin: 0
}

.header-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/*
@media screen and (max-width: 720px) {
  .header-container {
    justify-content: center;
    flex-direction: column;
  }
}
*/

.sidebar-container {
  width: 300px;
  padding: 1rem;
  background-color: var(--secondary-color);
  height: 100%;
}

.sidebar-header {
  margin-bottom: 1rem;
  font-weight: bold;
  border-bottom: #171717 2px solid;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-item {
  text-decoration: none;
  color: var(--foreground);
}

.sidebar-link {
  text-decoration: none;
  color: var(--foreground);
}

.sidebar-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.arrow-icon {
  margin-left: auto;
}

.menu-dropdown-item .sub-item-container {
  padding-left: 1.5rem;
}

footer {
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  height: 125px;
  padding: 1rem;
  margin: 0;
}

.footer-container {
  bottom: 0;
  position: relative;
  margin-top: auto;
  margin: auto;
}

.actions-cell {
  display: flex;
  gap: 0.5rem;
}

.modal-body .modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 750px;
  height: min-content;
  min-height: 300px;
  max-height: 60vh;
  background-color: var(--background);
  border: 2px solid #000;
  box-shadow: 24;
  padding: 4;
}


.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.modal-alert {
  padding-bottom: 1rem;
}

.modal-content {
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.modal-actions button {
  flex: 1;
}

@media screen and (max-width: 720px) {
  .modal-actions {
    flex-direction: column;
  }
}

@media screen and (max-height: 500px) {

  .modal-container {
    max-height: 90vh !important;
    overflow-y: scroll;
  }
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.hidden {
  display: none;
}