.detail-container {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.detail-header {
    display: flex;
    background-color: var(--secondary-color);
    min-height: 20px;
    padding: 1rem;
}

.detail-title-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    padding: 0.5rem;
}

.detail-title {
    font-size: 1.5em;
    font-weight: bold;
}

.detail-actions {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.detail-content {
    background-color: var(--primary-color);
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.detail-info {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
    height: auto;
    height: --webkit-fill-available;
    justify-content: space-evenly;
}

.detail-image-container {
    display: flex;
    max-width: 300px;
    max-height: 700px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px) {

    .detail-content {
        max-height: 400px;
    }

    .detail-info {
        max-height: 100%;
        overflow-y: scroll;
    }


    .detail-image-container {
        display: none;
    }
}

.detail-image {
    align-self: center;
    height: auto;
    padding: 1rem;
    width: 100% !important;
    width: -webkit-fill-available !important;
    max-width: max-content !important;
}